label
	span= local.get('sections')[section].form[name].title
	=' '
	if mode == 'single'
		input(type="file")
	else if mode == 'multiple'
		input(type="file" multiple)

.js-uploaded-earlier-block(style="display:none;")
	span= local.get('sections')[section].form[name].uploaded_earlier
	.js-uploaded-earlier-list-region
