span= local.get('sections')[section].form[name]
=' '
select.selectpicker(name=name)
	each item in options
		if value == item.value
			option(value=item.value, selected)= item.title
		else
			option(value=item.value)= item.title
