.input-group
	input.form-control.js-file-input-field(type="text" readonly value=fileUrl)
	span.input-group-btn
		button.btn.btn-default.js-delete-file-button(type="button")
			= local.get('forms').delete
