/**
 * Form View styles
 *
 * @author Viacheslav Lotsmanov
 */

& > h1:first-child
	margin-top 0
	padding-bottom 15px

label
	display block

label + label, label + div, div + div
	margin-top 20px

label.checkbox
	margin-left 20px

label.text, label.password
	max-width 500px

label.html textarea
	height 300px

label.select span
	display block

div.files
	.files-images-values-list
		max-width 400px
		
		img
			width 100%
			height auto
	
	.files-values-list
		.files-value-item
			position relative
			z-index 0
			
			$s = 20px
			
			&:before
			&:after
				display block
				content ''
				position absolute
				width 0
				height 0
			
			&:before
				left 0
				top -($s)
				background alpha(silver, 50%)
			
			&:after
				left 0
				top 0
				background alpha(green, 0%)
				z-index 10
			
			&--drag-hold
				opacity 0.3
			
			&--drag-over
				margin-top $s
				
				&:before
					@keyframes pulse
						0%
							opacity 0
						50%
							opacity 1
						100%
							opacity 0
					animation-name pulse
					animation-duration 0.5s
					animation-iteration-count infinite
					animation-timing-function ease-in-out
					background alpha(silver, 30%)
					opacity 1
					width 100%
					height $s
		&--dragging
			.files-value-item
				&:after
					width 100%
					height 100%

div.data-fields
	ul > li label + label
		margin-top 0
	ul > li label + ul
		margin-top 15px
	ul > li ul
		margin-bottom 15px
	
	textarea
		width 100%
		height 200px
		min-height 100px
		max-width 100%
		resize vertical
	
	.moveit
		cursor move
	
	.add-new-field
		margin-top -5px
		margin-bottom 10px
	
	.add-area + .del-area
		margin-top 15px

li.ui-sortable-helper
	cursor move

.actions
	padding-top 15px
